
<img *ngIf="data.Capa && data.Video" (click)="open(data.Video,'_blank')" [src]="data.Capa | safe" alt="">
<!-- <span class="plus">+1</span> -->
<div class="name">{{data.Nome}}</div>
<div class="description">
    <h3>
        <a target="_blank" [href]="data.Video">{{data.Musica}}</a>
    </h3>
    <span>

        {{data.Colegio}}
    </span>
    <span>

        {{data.Cidade}}
    </span>
</div>
<a *ngIf="this.canVote" class="voteButton" (click)="vote($event)">
    Vote
</a>
<span class="voteButton" *ngIf="!this.canVote"></span>