@keyframes pumping 
  0%
    background-color: transparent
    text-shadow: 1px 1px 0px black
  15%
    background-color: rgba(23, 13, 159, 0.499)
    text-shadow: 1px 1px 8px black
  100%
    background-color: transparent
    text-shadow: 1px 1px 0px black
  
:host 
  max-width: 85vw
  background-color: #ececec
  padding: 0.2rem
  transition: all 0.3s
  border-radius: 1rem
  box-shadow: 0 0 12px rgb(0 0 0 / 20%)
  cursor: crosshair
  overflow: clip
  min-height: 455px
  aspect-ratio: 16/9
  position: relative
  flex-direction: column
  margin-bottom: 2em
  gap: 2em
  display: flex
  max-width: 400px
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  @media (max-width:400px) 
    padding-bottom: 15%
    max-width: 100%
  max-width: 400px
  @media (max-width: 400px) 
    max-width: 100%
  

  &.pump
    animation-name: pumping
    animation-duration: 0.55s
    animation-iteration-count: 1
  .plus
    position: absolute
    top: 1em
    font-size: 21px
    color: green
    font-family: Arial
    right: 0em
    transition: all 0.3s
  

  nz-ribbon
    position: absolute
    margin-left: 393px
  .wrapper
    padding: 0
    
  iframe
    flex: 1
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none

  img
    position: relative
    object-fit: contain
    height: 55%
    margin-top: 3.6em 
    max-width: 100%
    @media (max-width:400px)
       max-height: 50%
  .desc
    padding: 1em
  .name
    position: absolute
    padding: 1em
    padding-bottom: 1em
    width: 100%
    padding-bottom: 1em
    background-color: rgba(200,200,200,0.4)
    min-height: 5em
    align-content: center
    align-items: center
    display: flex
    text-align: center
    
  &:active
    transform: scale(1.05)

  
.preview 
  height: 2rem
  @supports not (overflow-clip-margin: content-box) 
    border-radius: 0.8rem 0.8rem 0 0
  


.name 
  position: absolute
  padding: 1em
  padding-bottom: 1em
  width: 100%
  background-color: rgba(200, 200, 200, 0.4)
  min-height: 5em
  align-content: center
  align-items: center
  display: flex
  text-align: center
  font-size: 0.7rem
  font-weight: bold


.description 
  font-size: 10pt
  line-height: 1.4
  padding: 0.1rem
  padding-bottom: 0.3rem
  display: flex
  justify-content: space-between
  flex-direction: column
  text-align: center
  margin-top: -2em
  font-family: 'Roboto', sans-serif

a.voteButton
  color: #b09329
  text-transform: uppercase
  cursor: pointer
  margin-inline: auto
  height: 1.6em
  bottom: 0.5em
  height: 2em
  :active
    color: #dbc05d
  :visited
    color: #6a5b26

  
