<section id="hero">

  <audio preload="auto" autoplay="true" id="landingSound">
    <source src="../assets/aplausos.mp3" preload="auto" type="audio/mp3">
  </audio>

  <div id="backbg"></div>
  <img id="playingIcon" src="../assets/sound.png" alt="">

  <div class="wrapper flex flex-row justify-around gap-11">
    <div id="logo">
      <img src="../assets/Musicante logo-01.png" alt="">
    </div>

    <h3 class="copy left">
      <h1>
        Festival de Música Estudantil do Sudoeste Baiano
      </h1>
      
    </h3>

    

    <h3 class="copy right">
      <h2>
        Promovido pelo Núcleo Territorial de Educação (NTE20)
      </h2>
      <small>

        Torne-se parte do júri virtual e ajude a coroar os vencedores do Festival Musicante 2023.
      </small>
    </h3>
    
  </div>
  <div class="logo_wrapper">
      <img src="../assets/logos/bh-semfome.png" alt="" class="logos"><img src="../assets/logos/fliconquista.png" alt=""
        class="logos"><img src="../assets/logos/gv-bahia.png" alt="" class="logos"><img src="../assets/logos/henet.png"
        alt="" class="logos"><img src="../assets/logos/operakata.png" alt="" class="logos">
    </div>

    
</section>

<div class="custom-shape-divider-bottom-1698892649">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>
<nav id="nav" class="toolbar flex flex-row drop-shadow-md">
  <a class="item">O Festival</a>
  <a class="item">Edital 2023<faExternalLinkAlt></faExternalLinkAlt></a>
  <a class="item">Inscrições prorrogadas</a>
  <a class="item">Edições anteriores</a>
  <a class="item">Contato</a>
  <!-- 
    <!- Caso tenha um link dropdown depois
    <div class="item">
    Skills
    <div class="dropdown">
      <div>
        <a>React</a>
        <a>Angular</a>
        <a>Vue</a>
      </div>
    </div>
  </div> -->

  <div class="underline"></div>
</nav>
<section id="about">
  <h2>
    MUSICANTE 2023  
    <small>
      Transformando acordes em oportunidades, o nosso projeto educacional é a harmonia que inspira o futuro da música e da aprendizagem
    </small>
  </h2>
  <div class="wrapper">
    
  </div>
</section>
<section id="edicoes">
  <h2>
    Edições anteriores
    <small>
      Abaixo, as edições já realizadas do Musicante
    </small>
  </h2>
  <div class="wrapper"></div>
</section>
<section id="contato">
  <div class="wrapper"></div>
</section>